<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  	<a href="/gossips/new/">Rajoute ton potin ici ! </a>
    <h1>Mon super site de gossip</h1>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>
